body{
    font-family: "Pixelify Sans", serif;
    color:linear-gradient(#e66465, #9198e5);

    background: repeating-conic-gradient(
        from 0deg at 80% 50%,
        #5691f580 0% 8.25%,
        #b338ff80 8.25% 16.5%,
        #f8305880 16.5% 25%
      ),
      repeating-conic-gradient(
        from 15deg at 50% 50%,
        #e856f580 0% 8.25%,
        #ff384c80 8.25% 16.5%,
        #e7f83080 16.5% 25%
      ),
      repeating-conic-gradient(
        from 0deg at 20% 50%,
        #f58356ff 0% 8.25%,
        #caff38ff 8.25% 16.5%,
        #30f88aff 16.5% 25%
      );
  }
  div {
    border-color: rgba(94, 255, 0, 0.466) #32a1ce;
    border-width: 1em;
    border-style: double;
    height: 900px;
}
  

h1 {
    text-align: center;
    font-size: 64px;
    color: aqua;
}

p {
    color: blue;
    font-size: xx-large;
}

a {
    color: aliceblue;
}

li {
    margin-top: 8px;
}
ul{
    list-style-image: url('Invicon_Netherite_Sword.png');

}

h2 {
    color:greenyellow;
}

#button {
    color: blanchedalmond;
    background-color: red;
    padding: 10px;
    border-radius: 10%;
}

#button:hover {
    padding: 15px;
    background-color: orange;
}

.oneYT {
    color: cyan;
}


.twoYT {
    color: burlywood;
}

#emotional_damage{
    width: 100%;
}

#cat{
    width: 100%;
}